# Step 1. Import the necessary libraries

In [ ]:
import pandas as pd
import numpy as np

In [ ]:

Step 3. Assign it to a variable called chipo.

# Step 2. Import the dataset from this address.

In [84]:
chipo=pd.read_csv("https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv",delimiter="\t")

# Step 4. See the first 10 entries

In [21]:
chipo.head(10)

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
5,3,1,Chicken Bowl,"[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...",$10.98
6,3,1,Side of Chips,NaN,$1.69
7,4,1,Steak Burrito,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",$11.75
8,4,1,Steak Soft Tacos,"[Tomatillo Green Chili Salsa, [Pinto Beans, Ch...",$9.25
9,5,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Pinto...",$9.25

# Step 5. What is the number of observations in the dataset?

In [22]:
# Solution 1

In [23]:
print(len(chipo))

4622

In [24]:
# Solution 2

In [25]:
chipo.shape

(4622, 5)

In [26]:
#4622 observations in the dataset

# Step 6. What is the number of columns in the dataset?

In [27]:
print(len(chipo.columns))

5

# Step 7. Print the name of all the columns.

In [28]:
print(chipo.columns)

Index(['order_id', 'quantity', 'item_name', 'choice_description',
       'item_price'],
      dtype='object')

In [37]:
for i in chipo.columns:
    print(i)

order_id
quantity
item_name
choice_description
item_price

# Step 8. How is the dataset indexed?

In [ ]:
#dataset is indexed by using set index

# Step 9. Which was the most-ordered item?

In [30]:
chipo['item_name'].value_counts()

Chicken Bowl                             726
Chicken Burrito                          553
Chips and Guacamole                      479
Steak Burrito                            368
Canned Soft Drink                        301
Steak Bowl                               211
Chips                                    211
Bottled Water                            162
Chicken Soft Tacos                       115
Chips and Fresh Tomato Salsa             110
Chicken Salad Bowl                       110
Canned Soda                              104
Side of Chips                            101
Veggie Burrito                            95
Barbacoa Burrito                          91
Veggie Bowl                               85
Carnitas Bowl                             68
Barbacoa Bowl                             66
Carnitas Burrito                          59
Steak Soft Tacos                          55
6 Pack Soft Drink                         54
Chips and Tomatillo Red Chili Salsa       48
Chicken Crispy Tacos                      47
Chips and Tomatillo Green Chili Salsa     43
Carnitas Soft Tacos                       40
Steak Crispy Tacos                        35
Chips and Tomatillo-Green Chili Salsa     31
Steak Salad Bowl                          29
Nantucket Nectar                          27
Barbacoa Soft Tacos                       25
Chips and Roasted Chili Corn Salsa        22
Izze                                      20
Chips and Tomatillo-Red Chili Salsa       20
Veggie Salad Bowl                         18
Chips and Roasted Chili-Corn Salsa        18
Barbacoa Crispy Tacos                     11
Barbacoa Salad Bowl                       10
Chicken Salad                              9
Veggie Soft Tacos                          7
Carnitas Crispy Tacos                      7
Veggie Salad                               6
Carnitas Salad Bowl                        6
Burrito                                    6
Steak Salad                                4
Crispy Tacos                               2
Salad                                      2
Bowl                                       2
Chips and Mild Fresh Tomato Salsa          1
Veggie Crispy Tacos                        1
Carnitas Salad                             1
Name: item_name, dtype: int64

In [32]:
frequent_item=pd.crosstab(index=chipo["item_name"],columns='freq')

In [33]:
frequent_item

col_0                                  freq
item_name
6 Pack Soft Drink                        54
Barbacoa Bowl                            66
Barbacoa Burrito                         91
Barbacoa Crispy Tacos                    11
Barbacoa Salad Bowl                      10
Barbacoa Soft Tacos                      25
Bottled Water                           162
Bowl                                      2
Burrito                                   6
Canned Soda                             104
Canned Soft Drink                       301
Carnitas Bowl                            68
Carnitas Burrito                         59
Carnitas Crispy Tacos                     7
Carnitas Salad                            1
Carnitas Salad Bowl                       6
Carnitas Soft Tacos                      40
Chicken Bowl                            726
Chicken Burrito                         553
Chicken Crispy Tacos                     47
Chicken Salad                             9
Chicken Salad Bowl                      110
Chicken Soft Tacos                      115
Chips                                   211
Chips and Fresh Tomato Salsa            110
Chips and Guacamole                     479
Chips and Mild Fresh Tomato Salsa         1
Chips and Roasted Chili Corn Salsa       22
Chips and Roasted Chili-Corn Salsa       18
Chips and Tomatillo Green Chili Salsa    43
Chips and Tomatillo Red Chili Salsa      48
Chips and Tomatillo-Green Chili Salsa    31
Chips and Tomatillo-Red Chili Salsa      20
Crispy Tacos                              2
Izze                                     20
Nantucket Nectar                         27
Salad                                     2
Side of Chips                           101
Steak Bowl                              211
Steak Burrito                           368
Steak Crispy Tacos                       35
Steak Salad                               4
Steak Salad Bowl                         29
Steak Soft Tacos                         55
Veggie Bowl                              85
Veggie Burrito                           95
Veggie Crispy Tacos                       1
Veggie Salad                              6
Veggie Salad Bowl                        18
Veggie Soft Tacos                         7

In [34]:
chipo["item_name"].mode()

0    Chicken Bowl
Name: item_name, dtype: object

In [ ]:
#Mode calculate most frequent observation.

# Step 10. For the most-ordered item, how many items were ordered?

In [36]:
chipo["item_name"].value_counts()["Chicken Bowl"]

726

# Step 11. What was the most ordered item in the choice_description column?

In [38]:
chipo["choice_description"].value_counts()

[Diet Coke]                                                                                                                                      134
[Coke]                                                                                                                                           123
[Sprite]                                                                                                                                          77
[Fresh Tomato Salsa, [Rice, Black Beans, Cheese, Sour Cream, Lettuce]]                                                                            42
[Fresh Tomato Salsa, [Rice, Black Beans, Cheese, Sour Cream, Guacamole, Lettuce]]                                                                 40
                                                                                                                                                ...
[Fresh Tomato Salsa (Mild), [Pinto Beans, Black Beans, Rice, Cheese, Sour Cream, Lettuce]]                                                         1
[[Fresh Tomato Salsa (Mild), Roasted Chili Corn Salsa (Medium), Tomatillo-Red Chili Salsa (Hot)], [Pinto Beans, Cheese, Sour Cream, Lettuce]]      1
[Fresh Tomato (Mild), [Guacamole, Rice, Black Beans]]                                                                                              1
[[Tomatillo-Green Chili Salsa (Medium), Tomatillo-Red Chili Salsa (Hot)], [Black Beans, Rice, Cheese, Lettuce]]                                    1
[Tomatillo Green Chili Salsa, [Rice, Fajita Vegetables, Black Beans, Guacamole]]                                                                   1
Name: choice_description, Length: 1043, dtype: int64

In [42]:
#Diet coke is most ordered item in the choice_description column

# Step 12. How many items were orderd in total?

In [44]:
chipo["quantity"].sum()

4972

# Step 13. Turn the item price into a float

# step 13.a. Check the item price type

In [85]:
type(chipo["item_price"])

pandas.core.series.Series

# Step 13.b. Create a lambda function and change the type of item price

In [86]:
chipo["item_price"]=chipo["item_price"].apply(lambda x: x.replace('$',''))

In [87]:
chipo["item_price"]=chipo["item_price"].astype(float)

# Step 13.c. Check the item price type

In [89]:
chipo.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4622 entries, 0 to 4621
Data columns (total 5 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   order_id            4622 non-null   int64
 1   quantity            4622 non-null   int64
 2   item_name           4622 non-null   object
 3   choice_description  3376 non-null   object
 4   item_price          4622 non-null   float64
dtypes: float64(1), int64(2), object(2)
memory usage: 180.7+ KB

In [ ]:
#Here we can see that item_price type is float

# Step 14. How much was the revenue for the period in the dataset?

In [91]:
#Revenue=quantity*price

In [92]:
chipo.head()

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,2.39
1,1,1,Izze,[Clementine],3.39
2,1,1,Nantucket Nectar,[Apple],3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",16.98

In [95]:
chipo["Revenue"]=chipo["quantity"]*chipo["item_price"]
sum1=chipo["Revenue"].sum()
print(sum1)

39237.02

# #Step 15. How many orders were made in the period?

In [97]:
print(len(chipo["order_id"]))

4622

# Step 16. What is the average revenue amount per order?

# solution 1

In [99]:
average_revenue=sum1/len(chipo["Revenue"])
average_revenue

8.48918649935093

# Solution 2

In [100]:
chipo["Revenue"].mean()

8.48918649935093

# Step 17. How many different items are sold?

In [102]:
chipo["item_name"].nunique()

50